.container{
    width: 90%;
    margin: 3rem auto;
}

.edificio{
    width: 100%;
    text-align: center;
}

.edificio img {
    width: 100%;
}

.edificio button{
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    background-color: green;
    border-radius: 16px;
    color: #fff;
}