.form {
    width: 50%;
    margin: 2rem auto;
    text-align: left;
    background-color: rgb(176, 176, 176);
    padding: 1rem;
}

.form input{
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
}

.form button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
}

select{
    width: 40%;
    height: 30px;
    font-size: 1.2rem;
}

option{
    font-size: 1.2rem;
}

@media screen and (max-width: 768px){
    .form{
        width: 80%;
    }
    label{
        font-size: 1rem;
    }
    select{
        height: 25px;
        font-size: 1rem;
    }
    option{
        font-size: 1rem;
    }
}